@model FuzbollLadder.ViewModels.Players.AddViewModel

<form asp-action="Add">
    <label asp-for="Name">Player name:</label>
    <input asp-for="Name" />
    
    <br />
    <button type="submit">Register</button>
</form>