body {
    min-width: 100%;
}

.layout-container {
    margin: 0 auto;
    max-width: 800px;
    width: auto;
}

.navigation {
    a.nav-item {
        border-bottom: none;
        font-size: 16px;
    }
}