@using FuzbollLadder

<head>
    <meta name="viewport" content="width=device-width" />
    <meta property="version" content="@Program.Version" />
    <title>Fuzboll Ladder</title>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
</head>
<body>
<h1>Fuzboll Ladder</h1>
<div>
    <a asp-controller="Players" asp-action="Index">ladder</a> |
    <a asp-controller="Players" asp-action="Add">register player</a> | 
    <a asp-controller="Matches" asp-action="Index">history</a> | 
    <a asp-controller="Matches" asp-action="Add">submit match</a> | 
    <a asp-controller="PlayerStats" asp-action="Index">statistics</a>
</div>
<br />
@RenderBody()
</body>