@using FuzbollLadder

<head>
    <meta name="viewport" content="width=device-width" />
    <meta property="version" content="@Program.Version" />
    <title>Fuzboll Ladder</title>
</head>
<body>

<!-- @RenderBody() -->
<div id="root"></div>
<script src="/dist/bundle.js"></script>
</body>