<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fuzboll Ladder</title>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
</head>
<body>
<h1>Fuzboll Ladder</h1>
<div><a asp-action="Index">ladder</a> | <a asp-action="RegisterPlayer">register player</a> | <a asp-action="SubmitMatch">submit match</a></div>
<br />
@RenderBody()
</body>