@model FuzbollLadder.ViewModels.RegisterPlayerViewModel

<form asp-action="RegisterPlayer">
    <label asp-for="Name">Player name:</label>
    <input asp-for="Name" />
    
    <br />
    <button type="submit">Register</button>
</form>