@model FuzbollLadder.ViewModels.Matches.AddViewModel

<form asp-action="Add">
    <label asp-for="WinnerNamesCsv">Winners:</label>
    <input asp-for="WinnerNamesCsv" />
    
    <label asp-for="LoserNamesCsv">Losers:</label>
    <input asp-for="LoserNamesCsv" />
    
    <br />
    <button>Submit</button>
</form>